.body {
    text-align: center;
    background-color: blue;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.form {
    border: 0.3rem solid black;
    background-color: white;
    border-radius: 1.25rem;
    margin: 0 auto;
    max-width: 350px;
    padding: 2em;
}
.form__input {
    padding: 0.7em;
    margin-bottom: 0.2em;
    border: 0.18rem solid black;
    border-radius: 0.65rem;
}
.form__label {
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
}
.button {
    text-transform: uppercase;
    background: rgb(177, 117, 6);
    width: 100%;
    margin: 0;
    border: none;
    padding: 0.9em;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.65rem;
    transition: all 0.25s;
}
.button:hover {
    background: orange;
}

.table {
    border-collapse: collapse;
    background-color: rgba(255, 191, 0, 0.884);
    margin: 0.12em;
    text-transform: uppercase;
    width: 98%;
    border: 0.2rem solid black;
}

.table__title {
    color: #fff;
    font-size: 1.5rem;
}

.table__td,
.table__th {
    border: 0.1rem solid blue;
    text-align: center;
    padding: 0.45rem;
}
.table__tr:nth-child(even) {
    background-color: rgba(255, 191, 0, 0.884);
}
