.body {
    text-align: center;
    background-image: url(../img/fullstack.jpg);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    background-size: cover;
    background-position: center;
}
.form__h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}
.form {
    border: 0.3rem solid black;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    margin: 0 auto;
    max-width: 350px;
    padding: 2em;
}
.form__input {
    padding: 0.7em;
    margin-bottom: 0.2em;
    border: 0.18rem solid black;
    border-radius: 0.65rem;
}
.form__label {
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
}
.button {
    text-transform: uppercase;
    background: #4a6bc5;
    width: 100%;
    margin: 0;
    border: none;
    padding: 0.9em;
    color: #e4fff9;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.65rem;
    transition: all 0.25s;
}
.button:hover {
    background: #002e7d;
}

.table {
    border-collapse: collapse;
    background-color: #4a6bc5;
    margin: 0.12em;
    margin: 0 auto;
    text-transform: uppercase;
    width: 60%;

    border: 0.2rem solid black;
}

.table__title {
    color: #d2e2ff;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}
.table__th {
    text-align: center;
    padding: 0.45rem;
    color: #000;
}
.table__td {
    text-align: center;
    padding: 0.45rem;
    color: #d2e2ff;
}

.table__tr:nth-child(even) {
    background-color: #002e7d;
}
